<topbar title="{{ currentRoom.name }}"></topbar>

<div class="container-fluid" id="room-page-container">

  <div class="row" id="row-invite">
    <div class="col-xs-12">
      <label>Invite</label>
      <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
          Select user <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li data-ng-repeat="user in users"><a href="" data-ng-click="inviteUser(user.id)">{{ user.name }}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row" id="row-messages">
    <div class="col-xs-12">

      <p data-ng-repeat="message in currentRoom.messages">
        {{ message.name }} : {{ message.message }}
      </p>
    </div>
  </div>

  <div class="row" id="row-form-message">
    <div class="col-xs-12">

      <form name="formNewMessage" novalidate data-ng-submit="sendMessage()">
        
        <div class="form-group">
          <label for="message-text">Message</label>
          <input type="text" class="form-control"
            id="message-text" name="messageText"
            data-ng-model="newMessage.text"
            data-ng-disabled="pageLoading" required>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-block btn-lg btn-success"
            data-ng-disabled="formNewMessage.$invalid">
            Send
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" id="row-btn-back">
    <div class="col-xs-12">
      <button type="button" class="btn btn-warning" data-ng-click="exitRoom()">Back</button>
    </div>
  </div>
</div>