<div ng-include="'app/components/navbar/navbar.html'"></div>

<div class="container-fluid" id="main-page-container">

  <div class="row" id="row-login">
    <div class="col-xs-12">

      <h1>Login</h1>

      <form name="formLogin" novalidate data-ng-submit="loginUser()">

        <div class="form-group"
          data-ng-class="{ 'has-error': formLogin.loginEmail.$dirty && formLogin.loginEmail.$invalid }">
          <label for="login-email">
            E-mail
            <span class="text-danger" data-ng-show="formLogin.loginEmail.$dirty && formLogin.loginEmail.$invalid"> required </span>
          </label>
          <input type="email" class="form-control"
            id="login-email" name="loginEmail"
            data-ng-model="login.email" required>
        </div>

        <div class="form-group"
          data-ng-class="{ 'has-error': formLogin.loginEmail.$dirty && formLogin.loginEmail.$invalid }">
          <label for="login-password">
            Password
            <span class="text-danger" data-ng-show="formLogin.loginPassword.$dirty && formLogin.loginPassword.$invalid"> required </span>
          </label>
          <input type="password" class="form-control"
            id="login-password" name="loginPassword"
            data-ng-model="login.password" required>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-block btn-lg btn-primary"
            data-ng-disabled="formLogin.$invalid">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" id="row-register">
    <div class="col-xs-12">
      
      <p>Don't have an account yet? <strong>Register</strong> here.</p>

      <form name="formRegister" novalidate data-ng-submit="registerUser()">

        <div class="form-group" 
          data-ng-class="{ 'has-error': formRegister.registerEmail.$dirty && formRegister.registerEmail.$invalid }">
          <label for="register-email">
            E-mail
            <span class="text-danger" data-ng-show="formRegister.registerEmail.$dirty && formRegister.registerEmail.$invalid"> required </span>
          </label>
          <input type="email" class="form-control" 
            id="register-email" name="registerEmail" 
            data-ng-model="register.email" required>
        </div>

        <div class="form-group"
          data-ng-class="{ 'has-error': formRegister.registerPassword.$dirty && formRegister.registerPassword.$invalid }">
          <label for="register-password">
            Password
            <span class="text-danger" data-ng-show="formRegister.registerPassword.$dirty && formRegister.registerPassword.$invalid"> required </span>
          </label>
          <input type="password" class="form-control"
            id="register-password" name="registerPassword"
            data-ng-model="register.password" required>
        </div>

        <div class="form-group"
          data-ng-class="{ 'has-error': formRegister.registerConfirmPassword.$dirty && formRegister.registerConfirmPassword.$invalid }">
          <label for="register-confirm-password">
            Confirm Password
            <span class="text-danger" data-ng-show="formRegister.registerConfirmPassword.$dirty && formRegister.registerConfirmPassword.$invalid"> required </span>
            <span class="text-danger" data-ng-show="formRegister.registerConfirmPassword.$valid && (register.password !== register.confirmPassword)"> must match password </span>
            <span class="text-success" data-ng-show="formRegister.registerConfirmPassword.$valid && (register.password === register.confirmPassword)"> password match </span>
          </label>
          <input type="password" class="form-control"
            id="register-confirm-password" name="registerConfirmPassword"
            data-ng-model="register.confirmPassword" required>
        </div>

        <div class="form-group"
          data-ng-class="{ 'has-error': formRegister.registerUsername.$dirty && formRegister.registerUsername.$invalid }">
          <label for="register-username">
            Pick a username
            <span class="text-danger" data-ng-show="formRegister.registerUsername.$dirty && formRegister.registerUsername.$invalid"> required </span>
          </label>
          <input type="text" class="form-control"
            id="register-username" name="registerUsername"
            data-ng-model="register.username" required>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-block btn-lg btn-primary" 
            data-ng-disabled="formRegister.$invalid || (register.password !== register.confirmPassword)">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" style="background-color: yellow;">
    <div class="col-xs-12">
      Current user: {{ currentUser }}
    </div>
  </div>
</div>

<div class="footer" id="bottom-footer">
  <h4>This... is... FOOTER!!!</h4>
  <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
</div>
